# Genereeritud väljundfailid
*.pdf
*.docx

# LaTeX vahefailid
*.tex
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
